/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	background-color: white;
	color: black;
   	padding: 50px 20%;
}

p {
	font-family: DarkSlateGray, Georgia, serif;
    font-size: 120%;
	line-height: 1.5em;	
	text-align: justify;
	font-style: italic;
    
}

h1 { 
	text-align: center;
	color: plum;
	font-style: bold;	
	text-transform: uppercase;		
}

h3 { 
	text-align: center;
	color: plum;
	font-style: bold;	
}

h2 { 
    border-bottom: lightslategrey solid 4px;
	text-align: right;
	color: plum;
	font-style: bold;	
}

hr {color: lightslategrey dotted 2px; width: 50%;
}

 strong { color: plum; }

#number1-achievement {
	color:red;
 }